<main class="container">

    <div class="row justify-content-center mt-4">

        <div class="col-11 col-lg-5 mx-auto">

            <!-- leftdiv -->
            <div></div>
            <div>
                <!-- little presentation -->

                <div class="container-fluid py-3 " style="background-color: #242526;">
                    <h5 class="">In breve</h5>
                    <div class="mt-2">
                        <i class="fas fa-briefcase"></i>
                        Lavora presso <a href="">The Winchester Family Business</a>
                    </div>
                    <div class="mt-2">
                        <i class="fas fa-wifi"></i>
                        Follower: <a href="">207</a>
                    </div>

                    <div class="d-grid gap-4 mt-2">
                        <button class="btn btn-secondary" type="button">Button</button>
                        <button class="btn btn-secondary" type="button">Button</button>
                        <button class="btn btn-secondary" type="button">Button</button>
                    </div>


                </div>

                <!-- photo -->

                <div class="container-fluid mt-3 py-3 " style="background-color: #242526;">

                    <div class="d-flex justify-content-between align-items-center">
                        <a href="">Foto</a>
                        <a class="btn btn-outline-secondary btn-lg border-0 d-none d-xl-inline" href="#"
                            role="button">Vedi tutte le foto</a>

                    </div>

                    <div class="row mx-auto">

                        <div class="col-4 p-0 text-center">
                            <img src="https://www.walshassociates.co.nz/wp-content/uploads/2015/09/img_placeholder_avatar.jpg"
                                alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">
                        </div>
                        <div class="col-4 p-0 text-center">
                            <img src="https://www.walshassociates.co.nz/wp-content/uploads/2015/09/img_placeholder_avatar.jpg"
                                alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">
                        </div>
                        <div class="col-4 p-0 text-center">
                            <img src="https://www.walshassociates.co.nz/wp-content/uploads/2015/09/img_placeholder_avatar.jpg"
                                alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">
                        </div>
                        <div class="col-4 p-0 text-center">
                            <img src="https://www.walshassociates.co.nz/wp-content/uploads/2015/09/img_placeholder_avatar.jpg"
                                alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">
                        </div>
                        <div class="col-4 p-0 text-center">
                            <img src="https://www.walshassociates.co.nz/wp-content/uploads/2015/09/img_placeholder_avatar.jpg"
                                alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">
                        </div>
                        <div class="col-4 p-0 text-center">
                            <img src="https://www.walshassociates.co.nz/wp-content/uploads/2015/09/img_placeholder_avatar.jpg"
                                alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">
                        </div>
                        <div class="col-4 p-0 text-center">
                            <img src="https://www.walshassociates.co.nz/wp-content/uploads/2015/09/img_placeholder_avatar.jpg"
                                alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">
                        </div>
                        <div class="col-4 p-0 text-center">
                            <img src="https://www.walshassociates.co.nz/wp-content/uploads/2015/09/img_placeholder_avatar.jpg"
                                alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">
                        </div>
                        <div class="col-4 p-0 text-center">
                            <img src="https://www.walshassociates.co.nz/wp-content/uploads/2015/09/img_placeholder_avatar.jpg"
                                alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">
                        </div>



                    </div>




                </div>


                <!-- friends -->





                <div class="container-fluid mt-3 py-3 d-none d-lg-block" style="background-color: #242526;">

                    <div class="d-flex justify-content-between align-items-center">
                        <a href="">Amici</a>
                        <a class="btn btn-outline-secondary btn-lg border-0 d-none d-xl-inline" href="#"
                            role="button">Vedi tutti gli amici</a>

                    </div>

                    <div>484 amici</div>

                    <!-- ----- -->
                    <div>

                        <div class="d-flex mx-auto w-100 gap-2 mt-3">

                            <div class="">
                                <a href="">
                                    <div>
                                        <img src="https://i.pinimg.com/736x/d0/4c/a7/d04ca7ce5ce283a7dc753dadf4db64e2.jpg"
                                            alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">

                                    </div>
                                    <h6>user</h6>
                                </a>
                            </div>

                            <div class=" ">
                                <a href="">
                                    <div>
                                        <img src="https://i.pinimg.com/736x/d0/4c/a7/d04ca7ce5ce283a7dc753dadf4db64e2.jpg"
                                            alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">

                                    </div>
                                    <h6>user</h6>
                                </a>
                            </div>
                            <div class="">
                                <a href="">
                                    <div>
                                        <img src="https://i.pinimg.com/736x/d0/4c/a7/d04ca7ce5ce283a7dc753dadf4db64e2.jpg"
                                            alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">

                                    </div>
                                    <h6>user</h6>
                                </a>
                            </div>


                        </div>



                        <div class="d-flex mx-auto w-100 gap-2 mt-3">

                            <div class="">
                                <a href="">
                                    <div>
                                        <img src="https://i.pinimg.com/736x/d0/4c/a7/d04ca7ce5ce283a7dc753dadf4db64e2.jpg"
                                            alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">

                                    </div>
                                    <h6>user</h6>
                                </a>
                            </div>

                            <div class=" ">
                                <a href="">
                                    <div>
                                        <img src="https://i.pinimg.com/736x/d0/4c/a7/d04ca7ce5ce283a7dc753dadf4db64e2.jpg"
                                            alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">

                                    </div>
                                    <h6>user</h6>
                                </a>
                            </div>
                            <div class="">
                                <a href="">
                                    <div>
                                        <img src="https://i.pinimg.com/736x/d0/4c/a7/d04ca7ce5ce283a7dc753dadf4db64e2.jpg"
                                            alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">

                                    </div>
                                    <h6>user</h6>
                                </a>
                            </div>


                        </div>



                        <div class="d-flex mx-auto w-100 gap-2 mt-3">

                            <div class="">
                                <a href="">
                                    <div>
                                        <img src="https://i.pinimg.com/736x/d0/4c/a7/d04ca7ce5ce283a7dc753dadf4db64e2.jpg"
                                            alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">

                                    </div>
                                    <h6>user</h6>
                                </a>
                            </div>

                            <div class=" ">
                                <a href="">
                                    <div>
                                        <img src="https://i.pinimg.com/736x/d0/4c/a7/d04ca7ce5ce283a7dc753dadf4db64e2.jpg"
                                            alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">

                                    </div>
                                    <h6>user</h6>
                                </a>
                            </div>
                            <div class="">
                                <a href="">
                                    <div>
                                        <img src="https://i.pinimg.com/736x/d0/4c/a7/d04ca7ce5ce283a7dc753dadf4db64e2.jpg"
                                            alt="" style="height: 150px;width: 150px;max-width: 100%;max-height: 100%;">

                                    </div>
                                    <h6>user</h6>
                                </a>
                            </div>


                        </div>


                    </div>
                    <!-- ------ -->





                </div>



                <!-- footer -->

                <div class="container ">
                    <ul class="list-inline ">
                        <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">privacy</a>
                        </li>
                        <li class="list-inline-item "><a class="text-secondary text-decoration-none"
                                href="">condizioni</a></li>
                        <li class="list-inline-item "><a class="text-secondary text-decoration-none"
                                href="">publicità</a></li>
                        <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">meta</a>
                        </li>
                        <li class="list-inline-item ">
                            <p class="text-secondary " href="">2022</p>
                        </li>
                    </ul>
                </div>






            </div>








        </div>




        <div class="col-11 col-lg-6 mx-auto">

            <!-- container change img profile -->

            <%- include('../partials/changeimgprofile') %>
            <%- include('../partials/changeimgbackground') %>





            <!-- container add post -->

            <div class="d-flex  gap-2 p-2 bg-dark bg-gradient">

                <a href="#"><img class="rounded-circle" style="height: 35px;width: 35px;object-fit: cover;"
                        src="<%= user.imgProfile %>" alt=""></a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary rounded-pill text-start w-100" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    A cosa stai pensando?
                </button>

                <!-- Modal -->
                <div class="modal fade text-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <form class="modal-content" method="post" action="/<%= user._id.toString() %>">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Crea un post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">



                                <div class="form-floating">

                                    <textarea name="content" class="form-control h-50" placeholder="Leave a comment here"
                                        id="content"></textarea>
                                    <label for="content">Descrizione</label>

                                </div>


                                <div class="form-floating mt-3">

                                    <input name="img" type="url" class="form-control" placeholder="Leave a comment here"
                                        id="img" >
                                    <label for="img">url img</label>
                                   

                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" >Save
                                    changes</button>
                            </div>
                            
                        </form>
                    </div>
                </div>


                

            </div>


            <!-- open divRootPost -->

            <div id="rootPost">

               


               




            </div>

            <!-- close divRootPost -->







        </div>




    </div>

















</main>